<plugin>
  <groupId>org.apache.maven.plugins</groupId>
  <artifactId>maven-javadoc-plugin</artifactId>
  <version>3.4.1</version>
  <configuration>
    <!--
    Exclude packages:
      com.mycompany.myapp.package1.subpackage1
      com.mycompany.myapp.package1.subpackage2
      com.mycompany.myapp.package1.subpackage3
      com.mycompany.myapp.package1.util
      com.mycompany.myapp.package2
      com.mycompany.myapp.package2.subpackage4
      com.mycompany.myapp.package2.subpackage5
      com.mycompany.myapp.package2.util
      com.mycompany.myapp.package3.util
    BUT include the packages:
      com.mycompany.myapp
      com.mycompany.myapp.package1
      com.mycompany.myapp.package3
      com.mycompany.myapp.package3.subpackage6
      com.mycompany.myapp.package3.subpackage6.subsubpackage1
      com.mycompany.myapp.package3.subpackage6.subsubpackage2
      com.mycompany.myapp.package3.subpackage7
    -->
    <excludePackageNames>net.*:optifine.*:shadersmod.*</excludePackageNames>
  </configuration>
</plugin>
